body {
  border: 5px;
  border-style: double;
  border-color: rgb(87, 54, 5);
  background-image: url(images/student.jpg);
}
.land {
  height: 18cm;
  text-shadow: lightslategray;
  background-image:linear-gradient(rgba(221, 202, 202,0.1),rgba(5, 5, 5, 0.2) ),url(images/pin.jpg);
  background-size: 100% 100%;
  background-repeat:no-repeat;
  background-position: center;
}
.la {
  height: 5cm;
  padding-left: 7cm;
  padding-top: 6cm;
}
.la b {
  font-size: 30;
  font-family: cursive;
  color: rgb(235, 217, 233);
  text-shadow: 2px 4px 2px rgb(7, 1, 14);
}
.la img {
  width: 4cm;
}
.nd {
  float: bottom;
  height: 5cm;
  padding-left: 8cm;
}
.mentor {
  width: 8cm;
  height: 5cm;
}

.mo {
  height: 22cm;
  padding-left: 40px;
  padding-top: 50px;
  text-align: center;
  font-family: sans-serif;
  color: rgb(11, 17, 27);
}
.tl {
  width: 7cm;
  height: 13cm;
  margin: 40px 15px;
  border-radius: 12px;
  display: block;
  float: left;
  transition: 0.4s;
  color: rgb(11, 111, 124);
  border-width: 10px;
  border-color: rgba(0, 0, 255, 0.2);
  box-shadow: 0px 0px 4px 4px rgb(51, 49, 49);
  border-style:ridge;
}
.tl:hover {
  transform: scale(1.1);
  box-shadow: 2px 2px 8px 8px rgb(51, 49, 49);
  border-width:thick;
}
.tl img {
  padding-top: 2px;
  width: 6.5cm;
  height: 4cm;
  border-radius: 12px;
  border-style: solid;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.tl h2 {
  width: 5cm;
  font-size: 17;
  font-family: sans-serif;
}
.tl p {
  font-size: 16;
  text-align: center;
  font-family: "Courier New", Courier, monospace;
}
.but {
  position: relative;
  padding: 40px;
}
.but button {
  text-align: center;
  width: 5cm;
  height: 1cm;
  font-size: 16;
  font-family: sans-serif;
  color: rgb(218, 203, 203);
  background: rgb(109, 109, 151);
  box-shadow: 2px 2px rgba(16, 16, 29, 0.4);
  position: absolute;
  top:0;
  left:35px;
  cursor: pointer;
  border-radius: 12px;
}
.tl a {
  padding-left: 3cm;
  padding-top: 2cm;
}
.carousel-inner {
  height: 6cm;
  background-color: rgba(8, 8, 8, 0.2);
}
.container {
  height: 10cm;
  font-family: serif;
  color: rgb(46, 32, 32);
}
footer {
  border-style: solid;
  text-align: center;
  background-color: rgba(56, 47, 47, 0.3);
  height: 7cm;
}
.z {
  padding: 10px;
  padding-top: 3cm;
  float:left;
  width:50%;
}
.z a {
  text-decoration: none;
  text-align: center;
}
.f{
  font-size: 17;
  padding-top:1.5cm;
  width:50%;
  float:right;
}
.fa {
  font-size: 34px;
  width: 40px;
  height: 40px;
  margin: 1px 15px;
}
.fa:hover {
  opacity: 0.6;
}
.fa-whatsapp {
  color: rgb(7, 122, 65);
}
.fa-linkedin {
  color: rgb(9, 9, 109);
}
.fa-youtube {
  color: rgb(224, 41, 41);
}
.fa-instagram {
  color: rgb(116, 17, 17);
}
.fa-facebook {
  color: rgb(114, 10, 233);
}
.fa-telegram {
  color: rgb(31, 169, 211);
}
.table{
  text-align: center;
  width:18cm;
}
tr {
  text-align:center;
  border-spacing:12px;
  font-size: 18;
  color: rgba(5, 5, 5, 0.6);
  font-family: monospace;
}
input {
  width: 8cm;
  height: 1cm;
  background-color: rgba(8, 18, 36, 0.3);
  border-radius: 12px;
  border-style: hidden;
  font-family: monospace;
  font-size: 18;
  color: rgb(14, 12, 6);
}
select {
  width: 8cm;
  height: 1cm;
  background-color: rgba(8, 18, 36, 0.3);
  border-radius: 12px;
  border-style: hidden;
  font-size: 18;
  font-family: monospace;
  color: rgb(14, 12, 6);
}
textarea {
  background-color: rgba(8, 18, 36, 0.3);
  border-radius:0 16px;
  border-style: hidden;
  font-size: 18;
  font-family: cursive;
  color: rgb(14, 12, 6);
}
button {
  border-radius: 12px;
  border-style: hidden;
  width: 4cm;
  height: 1cm;
  background: rgb(2, 143, 143);
  color: rgb(230, 216, 216);
  font-size: 22;
  font-style: sans-serif;
}

@media screen and (max-width: 780px) {
  .body {
    position: fixed;
  }
  .mo {
    height: 20cm;
    padding-left: 10px;
    margin: auto;
  }
  .land {
    height: 13cm;
  }
  .la img {
    width: 4cm;
  }
  .la {
    padding-left: 0.2cm;
    padding-top:4cm;
  }
  .la b {
    font-family: sans-serif;
    font-size: 14;
    text-shadow: none;
  }
  .nd {
    padding-left: 1.8cm;
    float: bottom;
  }
  .footer {
    text-align: end;
  }
  table{
    
    border-spacing: 20px;
  }
  .table{
    width:7cm;
  }
  tr{
    font-size:13;
  }
  input{
    width: 5cm;
    height:0.8cm;
    font-size:11;
  }
  select{
    width:5cm;
    height:0.8cm;
    font-size:11;
  }
  textarea{
    width:5cm;
    height:3cm;
    font-size:11;
  }
  button{
    width:2cm;
    height:0.6cm;
    font-size:12;
  }
  .tr{
    display:grid;
    height:12cm;
  }

  footer{
    height:12cm;
  }
  .z{
    padding-top:1cm;
    width:100%;
    height:2cm;
  }

  .z a {
    margin: 0px 2px;
  }
  .f{
    font-size: 17;
    height:10cm;
    padding-left:1.2cm;
    letter-spacing: 3px;
  }
  .fa {
    width: 40px;
    height: 40px;
  }
}
@media screen and (max-width: 887px) {
  .mo {
    height: 20cm;
    padding-left: 30px;
  }
}
